.promo-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
}
.promo-card {
    background-color: white;
    width: 100%;
}
.promo-card-pos-set {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.off-style {
    background-color: #eb5757;
    color: #ffffff;
    width: 50%;
    padding-left: 10%;
}
@media only screen and (max-width:576px) {
    .promo-main-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 7px;

    }
}