.nav-hide{
    display: none;
}
@media only screen and (max-width:576px) {
    .nav-hide{
        display: block;
    }
}


@media only screen and (min-width: 577px) and (max-width: 992px){
    .nav-hide{
        display: block;
    }
}