.menu-search-addbtn-main-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.add-new-btn-style {
    border: none;
    border-radius: 6px;
    background-color: #f8b602;
    color: white;
    padding: 10px 30px;
}
.btn-pos-set {
    margin-left: 60%;
}
input {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ada9a9;
    padding: 1% 6%;
    /* margin: 1% 1%; */
    background-image: url('../../../../assets//MenuSearchBar/XMLID\ 223.png');
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 16px;
}
@media only screen and (max-width:576px) {

    .add-new-btn-style {
        font-size: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f8b602;
        color: white;
        padding: 7px 21px;
    }

    .menu-search-addbtn-main-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-pos-set {
        margin-left: 60%;
    }
    input {
        width: 90%;
        border-radius: 10px;
        border: 1px solid #ada9a9;
        padding: 1% 6%;
        /* margin: 1% 1%; */
        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        outline: 0;
        background-position: 12px;
        background-size: 16px;
    }
}